body {
  font-size: 10px;
  font-family: sans-serif;
  background-color: rgb(2, 2, 30);
  color: rgb(222, 230, 236);
}

.rem1 {
  font-size: 1rem;
}

.nounderline {
  text-decoration: none;
}
.portalh1 {
  font-size: 3rem;
  font-family: Arial, sans-serif;
}

.carousel {
  width: 500px;
}

.c-item {
  height: 200px;
}

.c-img {
  height: 100%;
  object-fit: cover;
}
.portfigcaption {
  font-size: 1.1rem;
}
.portalul {
  list-style-type: none;
}
.li-link {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(253, 253, 253);
}

.link:hover {
  color: rgb(206, 108, 80);
}
.codex-link {
  color: rgb(176, 255, 255);
}

.codex-link:hover {
  color: rgb(129, 234, 234);
}
.portalfigure1 {
  float: right;
}
